/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/output/
run-samples
.DS_Store

# Binstubs
/bin/_guard-core
/bin/bundler
/bin/coderay
/bin/flay
/bin/flog
/bin/github-markup
/bin/guard
/bin/htmldiff
/bin/launchy
/bin/ldiff
/bin/listen
/bin/pry
/bin/rake
/bin/redcarpet
/bin/reek
/bin/rubocop
/bin/ruby-parse
/bin/ruby-rewrite
/bin/ruby_parse
/bin/ruby_parse_extract_error
/bin/rubycritic
/bin/sandi_meter
/bin/thor
/bin/unparser
